@import 'common';

.container{
	width: 100%;
	height: 100%;
	display:flex;
	background:#F0F0F0;
	flex-direction:column;
	padding: 0;
	margin: 0;
	// display: none;
}
/* header */
#list{
	background:#FFF9E5;
	opacity:0.9;
	p{
		height: 34px;
		font-size: 12px;
		padding: 0 24px 0 15px;
		line-height: 34px;
		.pink{
			
			background:#ff4891;
		    color: #fff;
		    border-radius: 3px;
		}
	}
}
/* main */
main{
	padding-top: 2px;
	// flex:1;
	display:flex;
	flex-direction:column;
	overflow-x:hidden;
	overflow-y:auto;
	padding-bottom: 50px;
	.main_top{
		// flex:1;
		height: 0.59375rem;
		background:#fff;
		text-align: center;
		line-height: 0.59375rem;
		i{
			display:inline-block;
			width: 0.28125rem;
			height: 0.28125rem;
			margin-top: -0.0625rem;
			background:url('../img/cart_img/position-icon.png') no-repeat;
			background-size:100% 100%;
			vertical-align: middle;
		}
		span{
			padding-left: 0.078125rem;
			font-size: 0.21875rem;
		}
	}

	.checkbox_all{
		flex-direction:column;
		margin-top: 0.125rem;
		background:#fff;
		>span{
			display:inline-block;
			width: 40px;
			height: 38px;
<<<<<<< HEAD
			padding: 8px 8px 0 10px;
			vertical-align: middle;
			span{
				display:inline-block;
				width: 22px;
				height: 22px;
				border:none;
=======
			padding: 4px 8px 0 10px;
			vertical-align: middle;
			span{
				display:inline-block;
				width: 24px;
				height: 24px;
				border:1px solid #d1d1d1;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
				border-radius:50%;
			}
			i{
				display:inline-block;
				width: 22px;
				height: 22px;
				background:url('../img/cart_img/checked.png') no-repeat;
				background-size:22px 22px;
			}
		}
		b{
			font-weight: 100;
		}
	}
	.main_list{
		flex:1;
		flex-direction:column;
		margin-top: 1px;
		background:#fff;
		.product-style{
			display:flex;
			height: 101px;
			border-bottom: 1px solid #F0F0F0;
			.list_checkbox{
				width: 22px;
				height: 100%;
				margin: 0 8px 0 10px;
			}
			.list_checkbox{
				width: 22px;
				height: 100%;
				margin: 0 8px 0 10px;
				position: relative;
				span{
					display:inline-block;
<<<<<<< HEAD
					width: 22px;
					height: 22px;
					border:none;
=======
					width: 24px;
					height: 24px;
					border:1px solid #d1d1d1;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
					border-radius:50%;
					position:absolute;
					top: 50%;
					margin-top: -12px;
					i{
						display:inline-block;
						width: 22px;
						height: 22px;
						background:url('../img/cart_img/checked.png') no-repeat;
						background-size:22px 22px;
					}
				}
			}
			a{
				display:flex;
				flex:1;
				color:#000;
				&:hover{
					text-decoration: none;
				}
				.list_img{
					width: 75px;
					height: 81px;
					margin: 10px 6px 10px 0;
					img{
						width: 75px;
						height: 75px;
						margin-top: 6px;
					}
				}
				.list_introduce{
					padding-top: 10px;
					flex:1;
					ul{
						li{
							font-size: 14px;
							position: relative;
<<<<<<< HEAD
							s{
								i{
									font-style:normal;
								}
								
							}
=======
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
						}
						.lis_title{
							width: 175px;
							white-space:nowrap;
							text-overflow:ellipsis;
							overflow:hidden;
						}
						.lis_one{
							width: 52px;
							height: 14px;
							line-height: 14px;
							margin-top: 3px;
							font-size: 10px;
							border:1px solid rgb(255, 72, 145);
	    					color: rgb(255, 72, 145);
						}
						.lis_two{
							font-size: 12px;
							color:#a7a7a7;
							height: 16px;
							line-height: 16px;
							margin-top: 4px;
<<<<<<< HEAD
							.twon{
								display: none;
							}
=======
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
						}
						.lis_three{
							font-size: 12px;
							color:rgb(255, 72, 145);
<<<<<<< HEAD
							s{
								text-decoration: none;
								.unit_price{
									font-size: 15px;
								}
							}
							.threen{
								display: none;
							}

=======
							>span{
								font-size: 15px;
							}
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
							div{
								position: absolute;
								right: 4px;
								top: 0;
								>span{
									text-align: center;
									display:inline-block;
									width: 25px;
									height: 22px;
									line-height: 20px;
									vertical-align: middle;
									font-size: 16px;
									font-family: '微软雅黑';
									font-weight: 100;
								}
								span{
									color:#000;
								}
								img{
									display:inline-block;
									width: 22px;
									height: 22px;
								}
							}
						}
					}
				}
			}
		}
	}
	.main_p{
		p{
			height: 36px;
			color:#969696;
			line-height: 36px;
			padding: 0 15px;
			font-size: 12px;
		}
	}
	.main_hint{
		background:#fff;
		
		ul{
			display:flex;
			flex-direction:column;
			height: 89px;
			padding: 0 15px;
			li{
				flex:1;
				line-height: 44px;
				position:relative;
				span{
					display:inline-block;
<<<<<<< HEAD
					width: 22px;
					height: 22px;
=======
					width: 24px;
					height: 24px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
					border:1px solid #d1d1d1;
					border-radius:50%;
					position:absolute;
					top: 50%;
					right: 0;
					margin-top: -12px;
					i{
						display:inline-block;
						width: 22px;
						height: 22px;
						background:url('../img/cart_img/checked.png') no-repeat;
						background-size:22px 22px;
						position:absolute;
					}
				}
<<<<<<< HEAD
				.members{
					border:0;
				}
				.With_Offer{
					i{
						display:none;
					}
				}
			}
		}
	}

	.main_clearNone{
		margin-top: 8px;
		background:#fff;
		p{
			position: relative;
			>span{
				position: absolute;
				right: 0;
				span{
					color:rgb(255, 72, 145);
					i{
						font-style:normal;
					}
				}
				
			}
		}
		
		
		
		.clearNone_top{
			height: 40px;
			padding: 10px 15px 5px 15px;
			border-bottom: 1px solid #ddd;
			line-height: 25px;
		}
		.clearNone_center{
			height: 35px;
			padding: 10px 15px 0;
			line-height: 15px;
		}
		.clearNone_bottom{
			height: 40px;
			padding: 10px 15px 5px 15px;
			border-bottom: 1px solid #ddd;
			line-height: 25px;
		}
		.summation{
			height: 44px;
			padding: 0 15px;
			line-height: 44px;
		}
	}

	.main_clearing{
		margin-top: 8px;
		background:#fff;
		display: none;
=======
			}
		}
	}
	.main_clearing{
		margin-top: 8px;
		background:#fff;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
		>div{
			height: 75px;
			padding: 10px 15px 0;
			border-bottom: 1px solid #ddd;
		}
		.rebate{
			height: 40px;
			p{
				position:relative;
				span{
					position:absolute;
					right: 0;
				}
			}
		}
			
		.coupon{
			.coupon_top{
				p{
					width: 203px;
					white-space:nowrap;
					text-overflow:ellipsis;
					overflow:hidden;
					color:rgb(150, 150, 150);
				}
			}
			.coupon_bottom{
				padding-top: 10px;
				p{
					font-size: 14px;
					position:relative;
					img{
						width: 16px;
						height: 16px;
						margin-top: -3px;
						margin-right: 5px;
					}
					span{
						position:absolute;
						right: 0;
						color: rgb(255, 72, 145);
					}
				}
			}
		}
		.net{
			.net_bottom{
				padding-top: 14px;
			}
			p{
				position:relative;
				span{
					position:absolute;
					right: 0;
				}
			}
			
		}
		.total{
			height: 44px;
			text-align: right;
			background:#fff;
			font-size: 14px;
			span{
				color: rgb(255, 72, 145);
				font-size: 12px;
			}
		}
	}
	.ending{
		color: #b8b8b8;
		height: 50px;
		line-height: 50px;
		text-align: center;
		padding-bottom: 10px;
		text-decoration: underline;
	}
}
main::-webkit-scrollbar{
	width:0;
	height:0;
}
footer{
	.clearing{
		height: 50px;
		background:#fff;
		>div{
			font-size: 14px;
			div{
				display:inline-block;
			}
			.btnCkeck{
				display:inline-block;
<<<<<<< HEAD
				width: 22px;
				height: 22px;
				border:none;
=======
				width: 24px;
				height: 24px;
				border:1px solid #d1d1d1;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
				border-radius:50%;
				position:relative;
				margin-left: 10px;
				vertical-align: middle;
				i{
					display:inline-block;
					width: 22px;
					height: 22px;
					background:url('../img/cart_img/checked.png') no-repeat;
					background-size:22px 22px;
					position:absolute;
				}
			}
			.whole{
				width: 42px;
				padding-right: 10px;
				vertical-align: middle;
			}
			.footDiv{
				width: 110px;
				height: 50px;
				vertical-align: middle;
				padding-top: 10px;
				p{
<<<<<<< HEAD
					font-size: 14px;
=======
					font-size: 12px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
					span{
						color: rgb(255, 72, 145);
					}	
				}
				.clearing_p{
					color: rgb(150, 150, 150);
				}
			}
			.to-settle-accounts{
				width: 130px;
				height: 50px;
				background: #ff4891;
				position:absolute;
				right: 0;
				color:#fff;
				font-size: 18px;
				span{
					vertical-align: middle;
					line-height: 50px;
					margin-left: 30px;
				}
				i{
			    	display: inline-block;
			    	width: 7px;
			    	height: 10px;
			    	background:url('../img/cart_img/youjiantou.png')no-repeat;
			    	position: absolute;
			    	background-size:100% 100%;
			    	top: 40%;
			    	margin-left: 4px;
			    }
			}
		}
	}
<<<<<<< HEAD
}
@import 'footer';
=======
	.footer{
		display:flex;
		height: 49px;
		padding-top: 2px;
		background:#fff;
		margin-top: 2px;
		ul{
			flex:1;
			display:flex;
			li{
				flex:1;
			}
		}
	}	
}

>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
#clearing_bottom{
	display: flex;
    flex-direction:column;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 9.375rem;
	display: none;
	background:#F0F0F0;
	.confirmation{
		height: 44px;
		padding: 5px;
		background:#fff;
		text-align: center;
		font-size: 17px;
		line-height: 34px;
		position:relative;
		color: #4b4b4b;
		border-bottom: 1px solid #ccc;
		box-shadow: 0 0 10px rgba(0,0,0,.06);
		i{
			display:inline-block;
			width: 36px;
			height: 34px;
			background:url('../img/cart_img/login-back.png') center left no-repeat;
			background-size:20px;
			position:absolute;
			left: 10px;

		}
	}

	.clearing_main::-webkit-scrollbar{
			width:0;
			height:0;
		}
	.clearing_main{
		flex:1;
		display: flex;
    	flex-direction:column;
	    overflow-x: hidden;
		overflow-y: auto;
		.delivery{
			padding-left: 15px;
			height: 30px;
			background:#fff9e2;
			line-height: 30px;
			font-size: 12px;
		}
		.address{
			background:#5e7996;
			height: 70px;
			line-height: 70px;
			text-align: center;
			color:#fff;
			position:relative;
			font-size: 12px;
			&::before{
				width: 14px;
			    height: 22px;
			    content: "";
			    background: url('../img/cart_img/dingwei.png') no-repeat;
			    background-size: 100% 100%;
			    position: absolute;
			    top: 24px;
			    left: 16px;
			}
		}
		.send_flex{
			flex: 1;
			.send{
			display:flex;
			height: 44px;
			background:#fff;
			line-height: 44px;
			padding: 0 15px;
			margin-top: 8px;
			.send_left{
				width: 33%;
				display:flex;
				span{
					font-size: 14px;
					b{
						display:inline-block;
						width: 4px;
						height: 14px;
						background: #ff4891;
						vertical-align: middle;
						margin-right: 4px;
						margin-top: -2px;
					}
				}
			}
			.send_right{
				width: 77%;
				text-align: right;
				font-size: 14px;
	    		color: #969696;
	    		flex:1;
	    		line-height: 22px;
	    		position:relative;
	    		span{
	    			display:block;
	    			height: 22px;
	    			padding-right: 20px;
	    		}
	    		.span1{
	    			color:#FF4891;
	    		}
	    		b{
	    			display: inline-block;
				    position: absolute;
				    right: 0;
				    top: 50%;
				    margin-top: -5px;
				    content: '';
				    width: 6px;
				    height: 11px;
				    background: url('../img/cart_img/goes_03.png') no-repeat;
				    background-size: 100% 100%;
	    		}
			}
		}
		.product_list{
			height: 77px;
			background:#fff;
			display:flex;
			.pro_list{
				margin: 0 15px;
				border-top: 1px solid #E6E6E6;
				flex:1;
				display:flex;
				.pro_lis_left{
					width: 70%;
					flex:1;
					padding: 18px 0;
					overflow: auto;
	   				white-space: nowrap;
					.img_item{
						display: inline-block;
					    width: 41px;
					    height: 41px;
					    padding: 3px;
					    margin-right: 8px;
					    background: #FFF;
					    border-radius: 4px;
					    position: relative;
					    img{
					    	width: 35px;
					    	height: 35px;
					    }
					}
				}
				.pro_lis_left::-webkit-scrollbar{
					width:0;
					height:0
				}

				.pro_lis_right{
					padding-left: 14px;
					display:flex;
					line-height: 77px;
					span{
						font-size: 12px;
						b{
							display: inline-block;
						    content: '';
						    width: 6px;
						    height: 11px;
						    margin-left: 12px;
						    background: url('../img/cart_img/goes_03.png') no-repeat;
						    background-size: 100% 100%;
						}
					}
				}
			}
		}
		}
		
		.preferential_Way{
			height: 38px;
			color:#969696;
			font-size: 12px;
			padding: 0 15px;
			line-height: 38px;
		}
		.main_hint{
			background:#fff;
			ul{
				display:flex;
				flex-direction:column;
				height: 89px;
				padding: 0 15px;
				li{
					flex:1;
					line-height: 44px;
					position:relative;
					span{
						display:inline-block;
						width: 24px;
						height: 24px;
						border:1px solid #d1d1d1;
						border-radius:50%;
						position:absolute;
						top: 50%;
						right: 0;
						margin-top: -12px;
						i{
							display:inline-block;
							width: 22px;
							height: 22px;
							background:url('../img/cart_img/checked.png') no-repeat;
							background-size:22px 22px;
							position:absolute;
						}
					}
				}
			}
		}
		.main_clearing{
			margin-top: 8px;
			background:#fff;
			>div{
				height: 75px;
				padding: 10px 15px 0;
				border-bottom: 1px solid #ddd;
			}
			.rebate{
				height: 40px;
				p{
					position:relative;
					span{
						position:absolute;
						right: 0;
					}
				}
			}
				
			.coupon{
				.coupon_top{
					p{
						width: 203px;
						white-space:nowrap;
						text-overflow:ellipsis;
						overflow:hidden;
						color:rgb(150, 150, 150);
					}
				}
				.coupon_bottom{
					p{
						font-size: 14px;
						position:relative;
						img{
							width: 16px;
							height: 16px;
							margin-top: -3px;
							margin-right: 5px;
						}
						span{
							position:absolute;
							right: 0;
							color: rgb(255, 72, 145);
						}
					}
				}
				.red_packet{
<<<<<<< HEAD
					padding-top: 8px;
					padding-bottom: 8px;
=======
					padding-top: 12px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
					p{
						font-size: 14px;
						position:relative;
						img{
							width: 16px;
							height: 16px;
							margin-top: -3px;
							margin-right: 5px;
						}
						span{
							position:absolute;
							right: 0;
							color: rgb(198, 198, 198);
							padding-right: 18px;
						}
						b{
							display: inline-block;
						    position: absolute;
						    right: 0;
						    top: 50%;
						    margin-top: -5px;
						    content: '';
						    width: 6px;
						    height: 11px;
						    background: url('../img/cart_img/goes_03.png') no-repeat;
						    background-size: 100% 100%;
						}
					}
				}
			}
			.net{
				.net_bottom{
					padding-top: 14px;
				}
				p{
					position:relative;
					span{
						position:absolute;
						right: 0;
					}
				}
				
			}
			.total{
				height: 44px;
				text-align: right;
				background:#fff;
				font-size: 18px;
				span{
					color: rgb(255, 72, 145);
				}
			}
		}
		.privilege{
			padding: 0 15px;
			text-align: right;
			font-size: 12px;
			color:#969696;
			line-height: 30px;
			img{
				width: 13px;
				margin-left: 4px;
			}
		}
		.stored_value{
			display:flex;
			padding: 8px 15px;
			height: 56px;
			background:#fff;
			border-bottom: 1px solid #ddd;
			ul{
				flex:1;
				display:flex;
				flex-direction:column;
				li{
					flex:1;
				}
				.stored_lis{
					font-size: 12px;
   					color: #ff4891;
				}
			}
			.stored_value_r{
				span{
					font-size: 14px;
					b{
						display: inline-block;
					    content: '';
					    width: 6px;
					    height: 11px;
					    margin-left: 5px;
					    vertical-align: baseline;
					    background: url('../img/cart_img/goes_03.png') no-repeat;
					    background-size: 100% 100%;
					}
				}
			}
		}
		.need{
			height: 36px;
			padding: 8px 15px;
			line-height: 20px;
			background:#fff;
			border-bottom: 1px solid #ddd;
			p{
				font-size: 14px;
				position:relative;
				span{
					position:absolute;
					right: 0;
				}
			}
		}
		.payment{
			height: 136px;
			padding: 28px 0;
			display:flex;
			background:#fff;
			ul{
				flex:1;
				display:flex;
				text-align: center;
				li{
					flex:1;
					i{
						display:inline-block;
						width: 52px;
						height: 52px;
						border-radius: 50%;
						position:relative;
						b{
							position:absolute;
							right: -4px;
							top: -4px;
							z-index:10;
						}
					}
					span{
						display:block;
					}
				}
				.weixin_b{
					background:url('../img/cart_img/weixin_03_active.png') #44be00;
					background-size:100% 100%;
					b{
						color:#44be00;
					}
				}
				.weixin_n{
					background:url('../img/cart_img/weixin_03.png') #fff;
					background-size:100% 100%;
					border:1px solid #44be00;
					b{
						display:none;
					}
				}
				.zhifubao_b{
					background:url('../img/cart_img/zhifub_03.png') #fff;
					background-size:100% 100%;
					border:1px solid #039dff;
					b{
<<<<<<< HEAD
=======
						color:#039dff;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
						display:none;
					}
				}
				.zhifubao_n{
					background:url('../img/cart_img/zhifub_03_active.png') #039dff;
					background-size:100% 100%;
					border:1px solid #039dff;
<<<<<<< HEAD
					b{
						color:#039dff;
					}
=======
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
				}
			}
		}
	}
	
}	
.to_pay_for{
	border-top: 1px solid #e6e6e6;
	>div{
		height: 46px;
		background:#fff;
		position:relative;
	}
	.to_pay_for_left{
		>span{
			font-size: 17px;
		    color: #262626;
		    line-height: 46px;
		    margin-left: 15px;
		    font-weight: 500;
		    .span_two{
				color: rgb(255, 72, 145);
		    }
		    .span_three{
		    	color: rgb(150, 150, 150);
		    	font-size: 12px;
		    }
		}
	}
	.to_pay_for_right{
		width: 102px;
	    height: 46px;
	    padding: 0 33px 0 18px;
	    background: #ff4891;
	    text-align: center;
	    font-size: 17px;
	    color: #fff;
	    position: absolute;
	    right: 0;
	    top: 0;
	    line-height: 46px;
	    i{
	    	display: inline-block;
	    	width: 7px;
	    	height: 10px;
	    	background:url('../img/cart_img/youjiantou.png')no-repeat;
	    	position: absolute;
	    	background-size:100% 100%;
	    	top: 40%;
	    	margin-left: 4px;
	    }
	}
}

#productList{
	display: flex;
    flex-direction:column;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 9.375rem;
	// top:0;
	display: none;
	background:#F0F0F0;
	.proLis_top{
<<<<<<< HEAD
		height: 0.6875rem;
		padding: 0.078125rem;
		text-align: center;
		position: relative;
		line-height: 0.53125rem;
		background:#fff;
		font-size: 0.21875rem;
		span{
			display: inline-block;
			width: 0.28125rem;
			height: 0.46875rem;
			position: absolute;
			margin: auto 0.234375rem;
			left: 0;
			img{
				width: 0.28125rem;
				height: 0.28125rem;
=======
		height: 44px;
		padding: 5px;
		text-align: center;
		position: relative;
		line-height: 34px;
		background:#fff;
		span{
			display: inline-block;
			width: 18px;
			height: 18px;
			position: absolute;
			margin: auto 15px;
			left: 0;
			img{
				width: 18px;
				height: 18px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
			}
		}
	}
	.proLis_main{
		flex:1;
		display: flex;
		background:#fff;
<<<<<<< HEAD
		margin-top: 0.15625rem;
=======
		margin-top: 10px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
		overflow-x:hidden;
		overflow-y:auto;
		.list_cate::-webkit-scrollbar{
			width:0;
			height:0;
		}
		.list_cate{
			flex:1;
			display: flex;
			overflow-x:hidden;
			overflow-y:auto;
			>ul{
				flex:1;
				>li{
					display: flex;
<<<<<<< HEAD
					height: 1.390625rem;
					border-top: 1px solid #e6e6e6;
					.pro_li_left{
						padding: 0.125rem 0.15625rem 0.140625rem 0.234375rem;
    					img{
    						width: 1.09375rem;
    						height: 1.09375rem;
    						border: 0.015625rem solid #e6e6e6;
    						border-radius: 0.0625rem;
=======
					height: 89px;
					border-top: 1px solid #e6e6e6;
					.pro_li_left{
						padding: 8px 10px 9px 15px;
    					img{
    						width: 70px;
    						height: 70px;
    						border: 1px solid #e6e6e6;
    						border-radius: 4px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
    					}
					}
					.pro_li_right{
						flex:1;
						display: flex;
						ul{
							flex:1;
							display: flex;
							flex-direction:column;
<<<<<<< HEAD
							padding-top: 0.09375rem;
=======
							padding-top: 6px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
							position: relative;
							li{
								flex:1;
								position: relative;
							}
							.list_1{
<<<<<<< HEAD
								font-size: 0.21875rem;
=======
								font-size: 14px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
							    color: #262626;
							    p{
							    	width: 70%;
									span{
								    	position: absolute;
<<<<<<< HEAD
								    	right: 0.15625rem;
								    	top: 0;
								    	font-size:0.21875rem;
=======
								    	right: 10px;
								    	top: 0;
								    	font-size:14px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
								    	color:#969696;
								    }
							    }
							}
							.list_2{
<<<<<<< HEAD
								padding: 0 0.0625rem;
								span{
									display: inline-block;
									width: 0.78125rem;
									height: 0.25rem;
									font-size: 0.125rem;
=======
								padding: 0 4px;
								span{
									display: inline-block;
									width: 50px;
									height: 16px;
									font-size: 8px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
									background: url('../img/cart_img/two-hour.png') no-repeat;
								    background-size: 100% 100%;
								    color: #fff;
								}
							}
							.list_3{
								position: absolute;
								bottom: 0;
								span{
<<<<<<< HEAD
									font-size: 0.1875rem;
=======
									font-size: 12px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
								}
								.span1{
									text-decoration: line-through;
									color:#969696;
									b{
										font-weight: 100;
									}
								}
								.span2{
									color: rgb(255, 72, 145);
									b{
										font-weight: 100;
									}
								}
							}    
						}
					}
				}
			}
		}
	}
}
<<<<<<< HEAD

#state{
	display: flex;
    flex-direction:column;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 9.375rem;
	display: none;
	background:#F0F0F0;
	img{
		width: 100%;
	}
}

#red_envelope{
	display: flex;
    flex-direction:column;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 9.375rem;
	// top:0;
	display: none;
	background: #f5f5f5;
	.choice_red_envelope{
		padding: 0.078125rem;
		height: 0.6875rem;
		background:#fff;
		text-align: center;
		line-height: 0.53125rem;
		font-size: 0.25rem;
		border-bottom: 0.015625rem solid #ddd;
		i{
			display: inline-block;
		    width: 0.5625rem;
		    height: 0.53125rem;
		    background: url("../img/cart_img/login-back.png") center left no-repeat;
		    background-size: 0.3125rem;
		    position: absolute;
		    left: 10px;
		}
	}
	.not_use{
		padding: 0 0.234375rem;
		height: 0.65625rem;
		background:#fff;
		margin-top: 0.125rem;
		line-height: 0.65625rem;
		p{
			font-size: 0.21875rem;
			position: relative;
			span{
				display: inline-block;
			    width: 0.375rem;
			    height: 0.375rem;
			    // border: 1px solid #d1d1d1;
			    border-radius: 50%;
			    position: absolute;
			    top: 50%;
			    right: 0;
			    margin-top: -0.1875rem;
			    i{
			    	display: inline-block;
				    width: 0.34375rem;
				    height: 0.34375rem;
				    background: url("../img/cart_img/checked.png") no-repeat;
				    background-size: 0.34375rem 0.34375rem;
				    position: absolute;
			    }
			}
		}
	}
	.position_img{
		padding-top: 3.640625rem;
		text-align: center;
		::before{
		    content: '';
		    width: 1.40625rem;
		    height: 1.40625rem;
		    background: url('../img/cart_img/youhuiquan-bg.png') no-repeat;
		    background-size: 100% 100%;
		    position: absolute;
		    top: 2.8125rem;
		    left: 50%;
		    margin-left: -0.703125rem;
		}
	}
}

#shipping_address{
	display: flex;
    flex-direction:column;
	width: 100%;
	height: 100%;
	position:absolute;
	top: 9.375rem;
	// top:0;
	display: none;
	background: #f5f5f5;
	.choice_address{
		padding: 0.078125rem;
		height: 0.6875rem;
		background:#fff;
		text-align: center;
		line-height: 0.53125rem;
		font-size: 0.25rem;
		border-bottom: 0.015625rem solid #ddd;
		i{
			display: inline-block;
		    width: 0.5625rem;
		    height: 0.53125rem;
		    background: url("../img/cart_img/login-back.png") center left no-repeat;
		    background-size: 0.3125rem;
		    position: absolute;
		    left: 10px;
		}
	}
	.receiver::-webkit-scrollbar{
		width:0;
		height:0
	}
	.receiver{
		flex:1;
		overflow-x:hidden;
		overflow-y:auto;
		.address_list{
			height: 101px;
			padding: 19px 15px;
			background:#fff;
			margin-bottom: 8px;
			border-top: 1px solid #ddd;
			display: flex;
			position: relative;
			.address_left{
				width: 22px;
				margin-right:15px;
				position: relative;
				span{
					display:inline-block;
					width: 22px;
					height: 22px;
					border:none;
					border-radius:50%;
					position:absolute;
					top: 50%;
					margin-top: -12px;
					
					i{
						display:inline-block;
						width: 22px;
						height: 22px;
						background:url('../img/cart_img/checked.png') no-repeat;
						background-size:22px 22px;
					}
				}
			}
			.address_center{
				display: flex;
				ul{
					flex:1;
					li{
						line-height: 22px;
						font-size: 14px;
						>span{
							color: #ff4891;
   							margin-right: 4px;
						}
					} 
					.add_list{
						font-size: 10px; 
					}
				}
			}
			.address_right{
				border-left: 1px solid #d1d1d1;
				position: absolute;
				right: 15px;
				line-height: 35px;
				.address_edit{
					padding-left: 15px;
					font-size: 12px;
					color:#ccc;
				}
			}
		}
	}
	.addAddress{
		width: 100%;
	    height: 0.65625rem;
	    line-height: 0.65625rem;
	    background: #ff4891;
	    text-align: center;
	    color: #fff;
	    display: block;
	    border-radius: 3px;
	    font-size: 0.25rem;
	    font-weight: 900;
	}
}

.leave{
	display: flex;
    flex-direction:column;
	width: 100%;
	height: 100%;
	position:absolute;
	top:0;
	display: none;
	background:rgba(0,0,0,0.7);
	.leave_hint{
		height: 150px;
		padding-top: 22px;
		width: 200px;
		background:#fff;
		border-radius:4px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -100px;
		margin-top: -75px;
		.leave_img{
			width: 50px;
		    height: 50px;
		    position: absolute;
		    top: -25px;
		    left: 50%;
		    margin-left: -25px;
		    background: url('../img/cart_img/rang.png') no-repeat;
		    background-size: 100%;
		}
		h1{
			font-size: 14px;
			font-weight: 900;
			text-align: center;
			margin-top: 10px;
		}
		.btns{
			margin-top: 34px;
			padding: 0 11px;
			span{
				display: inline-block;
				width: 85px;
				height: 34px;
				color:#fff;
				line-height: 34px;
				text-align: center;
				border-radius:6px;
			}
			.departure{
				background:#c6c6c6;
				margin-right: 4px;
			}
			.continue{
				background:#ff4891;
			}
		}
		
	}
}
=======
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
