@import 'common';
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> ly
html {
    font-size: 200px;
}

<<<<<<< HEAD
=======
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
>>>>>>> ly
.fll {
    float: left;
}

.flr {
    float: right;
}

.top {
    z-index: 10;
<<<<<<< HEAD
<<<<<<< HEAD
    text-align: center;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #4b4b4b;
    box-shadow: 0 0 0.05rem rgba(0, 0, 0, .06);
    background-color: #fff;
    a {
        display: inline-block;
        height: 100%;
        width: 0.4rem;
    }
    i {
        color: #969696;
        font-size: 0.2rem;
        margin-top: 0.015rem;
    }
    h1 {
        font-size: 0.18rem;
        height: 100%;
        display: inline-block;
        width: 80%;
        /*margin-left: 17em;*/
        font-weight: normal;
=======
        text-align: center;
=======
    text-align: center;
>>>>>>> ly
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #4b4b4b;
    box-shadow: 0 0 0.05rem rgba(0, 0, 0, .06);
    background-color: #fff;
    a {
        display: inline-block;
        height: 100%;
        width: 0.4rem;
    }
    i {
        color: #969696;
        font-size: 0.2rem;
        margin-top: 0.015rem;
    }
    h1 {
        font-size: 0.18rem;
        height: 100%;
        display: inline-block;
        width: 80%;
        /*margin-left: 17em;*/
        font-weight: normal;
<<<<<<< HEAD
        font-size: 17px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
>>>>>>> ly
        color: #4b4b4b;
    }
}

.carouserBox {
<<<<<<< HEAD
<<<<<<< HEAD
    margin-top: 0.3rem;
    position: relative;
    text-align: center;
    img.halfpr {
        height: 0.42rem;
        position: absolute;
        top: 0;
        left: 0.16rem;
    }
    img.maingood {
        width: 70%;
=======
    margin-top: 45px;
=======
    margin-top: 0.3rem;
>>>>>>> ly
    position: relative;
    text-align: center;
    img.halfpr {
        height: 0.42rem;
        position: absolute;
        top: 0;
        left: 0.16rem;
    }
    img.maingood {
<<<<<<< HEAD
        width: 65%;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
        width: 70%;
>>>>>>> ly
    }
}

.textures {
    background: url(../img/product-bg.png) no-repeat;
    background-size: 100% 106%;
    .box {
<<<<<<< HEAD
<<<<<<< HEAD
        margin-left: 0.1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        .title {
            font-size: .18rem;
            padding-top: 0.16rem;
            padding-bottom: 16px;
            font-size: 21px;
            color: #969696;
            .title-product {
                font-size: .18rem;
            }
        }
        h2 {
            font-size: .15rem;
=======
        margin-left: 20px;
        padding-left: 40px;
        padding-right: 40px;
=======
        margin-left: 0.1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
>>>>>>> ly
        .title {
            font-size: .18rem;
            padding-top: 0.16rem;
            padding-bottom: 16px;
            font-size: 21px;
            color: #969696;
            .title-product {
                font-size: .18rem;
            }
        }
        h2 {
<<<<<<< HEAD
            font-size: 16px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
            font-size: .15rem;
>>>>>>> ly
            color: #262626;
            margin: 0;
            padding-bottom: 6px;
        }
        p {
            margin: 10px 0;
            font: inherit;
<<<<<<< HEAD
<<<<<<< HEAD
            font-size: 0.13rem;
=======
            font-size: 100%;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
            font-size: 0.13rem;
>>>>>>> ly
            color: rgb(255, 195, 141);
        }
        p.price {
            color: #ff4891;
            vertical-align: bottom;
<<<<<<< HEAD
<<<<<<< HEAD
            font-size: 0.125rem;
=======
            font-size: 22px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
            font-size: 0.125rem;
>>>>>>> ly
            border-bottom: 1px solid #f5f5f5;
            padding-bottom: 8px;
            span.pricenow {
                font-size: 40px;
            }
            span.cellnum {
                color: #969696;
<<<<<<< HEAD
<<<<<<< HEAD
                font-size: 0.085rem;
                margin-top: 0.065rem;
                margin-right: 0.1rem;
            }
        }
        .product-news {
            display: flex;
            height: 0.35rem;
=======
                font-size: 12px;
                margin-top: 13px;
                margin-right: 1.7em;
=======
                font-size: 0.085rem;
                margin-top: 0.065rem;
                margin-right: 0.1rem;
>>>>>>> ly
            }
        }
        .product-news {
            display: flex;
<<<<<<< HEAD
            height: 50px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
            height: 0.35rem;
>>>>>>> ly
            vertical-align: bottom;
            justify-content: space-around;
            p {
                img {
                    vertical-align: middle;
                }
                span {
                    color: #969696;
<<<<<<< HEAD
<<<<<<< HEAD
                    margin-bottom: 0.085rem;
=======
                    margin-bottom: 15px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
                    margin-bottom: 0.085rem;
>>>>>>> ly
                }
            }
        }
    }
}


/*积分区*/

.integral {
<<<<<<< HEAD
<<<<<<< HEAD
    font-size: 0.1rem;
    width: 100%;
    border-radius: 0.05rem;
    border-top: 0.05rem solid #f5f5f5;
    border-left: 0.05rem solid #f5f5f5;
    border-right: 0.05rem solid #f5f5f5;
    padding-bottom: 0.05rem;
    .integral-detail {
        padding: 0 0.05rem;
=======
=======
    font-size: 0.1rem;
>>>>>>> ly
    width: 100%;
    border-radius: 0.05rem;
    border-top: 0.05rem solid #f5f5f5;
    border-left: 0.05rem solid #f5f5f5;
    border-right: 0.05rem solid #f5f5f5;
    padding-bottom: 0.05rem;
    .integral-detail {
<<<<<<< HEAD
        padding: 0 10px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
        padding: 0 0.05rem;
>>>>>>> ly
        line-height: 44px;
        img {
            vertical-align: middle;
            margin: 0 20px;
            width: 34px;
        }
        img.explain {
            vertical-align: middle;
        }
    }
    .sharepack {
        background: rgba(255, 72, 145, .1);
<<<<<<< HEAD
<<<<<<< HEAD
        margin: 0 0.05rem;
        border-radius: 0.015rem;
        width: 95%;
        img {
            width: 0.8rem;
=======
        margin: 0 10px;
        border-radius: 3px;
        width: 95%;
        img {
            width: 80px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
        margin: 0 0.05rem;
        border-radius: 0.015rem;
        width: 95%;
        img {
            width: 0.8rem;
>>>>>>> ly
            margin: 5px;
            vertical-align: middle;
        }
        span {
<<<<<<< HEAD
<<<<<<< HEAD
            line-height: 0.3rem;
            margin-left: 1.4rem;
=======
            line-height: 55px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
            line-height: 0.3rem;
            margin-left: 1.4rem;
>>>>>>> ly
        }
    }
}


/*亮点*/

.light-points {
    padding: 0 40px;
    .title {
<<<<<<< HEAD
<<<<<<< HEAD
        font-size: 0.15rem;
        color: #262626;
        clear: both;
        padding-left: 0.1rem;
        text-align: center;
        line-height: 0.2rem;
        img {
            width: 0.15rem;
            height: 0.15rem;
=======
        font-size: 16px;
=======
        font-size: 0.15rem;
>>>>>>> ly
        color: #262626;
        clear: both;
        padding-left: 0.1rem;
        text-align: center;
        line-height: 0.2rem;
        img {
<<<<<<< HEAD
            width: 16px;
            height: 16px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
            width: 0.15rem;
            height: 0.15rem;
>>>>>>> ly
            vertical-align: middle;
        }
    }
    ul.mainlp {
<<<<<<< HEAD
<<<<<<< HEAD
        padding: 0 0.07rem;
=======
        padding: 0 14px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
        padding: 0 0.07rem;
>>>>>>> ly
        background: url(../img/details/product-bg2.png) no-repeat;
        background-size: 100% 100%;
        li {
            color: #262626;
<<<<<<< HEAD
<<<<<<< HEAD
            line-height: 0.3rem;
            font-size: 0.14rem;
            border-bottom: 1px solid #f5f5f5;
        }
        li:first-child {
            padding-top: 0.1rem;
=======
            line-height: 40px;
            font-size: 14px;
            border-bottom: 1px solid #f5f5f5;
        }
        li:first-child {
            padding-top: 20px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
            line-height: 0.3rem;
            font-size: 0.14rem;
            border-bottom: 1px solid #f5f5f5;
        }
        li:first-child {
            padding-top: 0.1rem;
>>>>>>> ly
        }
    }
}


/*详情区*/

.graphic-details {
    margin-top: 20px;
    border: 10px solid #F5F5F5;
    width: 80%;
    padding: 0 40px;
    .top-title {
        text-align: center;
        width: 100%;
<<<<<<< HEAD
<<<<<<< HEAD
        font-size: 0.15rem;
=======
        font-size: 16px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
        font-size: 0.15rem;
>>>>>>> ly
        color: #262626;
        clear: both;
        position: relative;
        margin: 0 auto;
<<<<<<< HEAD
<<<<<<< HEAD
        line-height: 0.225rem;
    }
    .detail-item {
        color: #262626;
        padding: 0.1rem 0;
        line-height: 0.2rem;
        font-size: 0.125rem;
=======
        line-height: 44px;
    }
    .detail-item {
        color: #262626;
        line-height: 40px;
        font-size: 14px;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
        line-height: 0.225rem;
    }
    .detail-item {
        color: #262626;
        padding: 0.1rem 0;
        line-height: 0.2rem;
        font-size: 0.125rem;
>>>>>>> ly
        border-top: 1px solid #f5f5f5;
    }
}


/*分享*/

.share-menu {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> ly
    position: fixed;
    z-index: 30;
    display: none;
    background-color: #fff;
    width: 100%;
    bottom: 0;
<<<<<<< HEAD
=======
	position: fixed;
	z-index: 30;
	display: none;
	background-color: #fff;
	width: 100%;
	bottom: 0;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
>>>>>>> ly
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        text-align: center;
    }
    ul {
        width: 100%;
        height: auto;
        display: flex;
        li {
            width: 25%;
            height: auto;
            overflow: hidden;
            float: left;
            text-align: center;
            margin: 5px 0;
            .wechat {
                background: url(../img/details/share-weixin.png) no-repeat;
                background-size: 100% 100%;
            }
            .weibo {
                background: url(../img/details/share-weibo.png) no-repeat;
                background-size: 100% 100%;
            }
            .qq {
                background: url(../img/details/share-qq.png) no-repeat;
                background-size: 100% 100%;
            }
            .qqzone {
                background: url(../img/details/share-qqzone.png) no-repeat;
                background-size: 100% 100%;
            }
            p {
<<<<<<< HEAD
<<<<<<< HEAD
                width: 0.265rem;
                height: 0.265rem;
                margin: 0 auto 0.05rem;
            }
            span {
                font-size: 0.085rem;
                color: #4B4B4B;
                line-height: 0.135rem;
            }
            .share-btn {
                width: 100%;
                height: auto;
=======
                width: 53px;
                height: 53px;
                margin: 0 auto 10px;
=======
                width: 0.265rem;
                height: 0.265rem;
                margin: 0 auto 0.05rem;
>>>>>>> ly
            }
            span {
                font-size: 0.085rem;
                color: #4B4B4B;
                line-height: 0.135rem;
            }
            .share-btn {
<<<<<<< HEAD
	                width: 100%;
                height: auto;	
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
                width: 100%;
                height: auto;
>>>>>>> ly
                overflow: hidden;
                text-align: center;
                box-sizing: border-box;
                padding: 0 10px;
            }
        }
    }
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> ly

/*  <!-- 黑色区块 -->*/

.cover {
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
    width: 100%;
    height: 50000px;
    z-index: 20;
<<<<<<< HEAD
=======
/*	<!-- 黑色区块 -->*/
.cover{
	display: none;
	position: fixed;
	background-color: black;
	opacity: 0.5;
	top: 0;
	width: 100%;
	height: 50000px;
	z-index: 20;
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
>>>>>>> ly
}
