@import 'common';
html {
    font-size: 200px;
}

.fll {
    float: left;
}

.flr {
    float: right;
}

.top {
    z-index: 10;
    text-align: center;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 0.28rem;
    line-height: 0.28rem;
    color: #4b4b4b;
    box-shadow: 0 0 0.05rem rgba(0, 0, 0, .06);
    background-color: #fff;
    a {
        display: inline-block;
        height: 100%;
        width: 0.4rem;
    }
    i {
        color: #969696;
        font-size: 0.2rem;
        margin-top: 0.015rem;
    }
    h1 {
        font-size: 0.18rem;
        height: 100%;
        display: inline-block;
        width: 80%;
        /*margin-left: 17em;*/
        font-weight: normal;
        color: #4b4b4b;
    }
}

.carouserBox {
    margin-top: 0.3rem;
    position: relative;
    text-align: center;
    img.halfpr {
        height: 0.42rem;
        position: absolute;
        top: 0;
        left: 0.16rem;
    }
    img.maingood {
        width: 70%;
    }
}

.textures {
    background: url(../img/product-bg.png) no-repeat;
    background-size: 100% 106%;
    .box {
        margin-left: 0.1rem;
        padding-left: 0.2rem;
        padding-right: 0.2rem;
        .title {
            font-size: .18rem;
            padding-top: 0.16rem;
            padding-bottom: 16px;
            font-size: 21px;
            color: #969696;
            .title-product {
                font-size: .18rem;
            }
        }
        h2 {
            font-size: .15rem;
            color: #262626;
            margin: 0;
            padding-bottom: 6px;
        }
        p {
            margin: 10px 0;
            font: inherit;
            font-size: 0.13rem;
            color: rgb(255, 195, 141);
        }
        p.price {
            color: #ff4891;
            vertical-align: bottom;
            font-size: 0.125rem;
            border-bottom: 1px solid #f5f5f5;
            padding-bottom: 8px;
            span.pricenow {
                font-size: 40px;
            }
            span.cellnum {
                color: #969696;
                font-size: 0.085rem;
                margin-top: 0.065rem;
                margin-right: 0.1rem;
            }
        }
        .product-news {
            display: flex;
            height: 0.35rem;
            vertical-align: bottom;
            justify-content: space-around;
            p {
                img {
                    vertical-align: middle;
                }
                span {
                    color: #969696;
                    margin-bottom: 0.085rem;
                }
            }
        }
    }
}


/*积分区*/

.integral {
    font-size: 0.1rem;
    width: 100%;
    border-radius: 0.05rem;
    border-top: 0.05rem solid #f5f5f5;
    border-left: 0.05rem solid #f5f5f5;
    border-right: 0.05rem solid #f5f5f5;
    padding-bottom: 0.05rem;
    .integral-detail {
        padding: 0 0.05rem;
        line-height: 44px;
        img {
            vertical-align: middle;
            margin: 0 20px;
            width: 34px;
        }
        img.explain {
            vertical-align: middle;
        }
    }
    .sharepack {
        background: rgba(255, 72, 145, .1);
        margin: 0 0.05rem;
        border-radius: 0.015rem;
        width: 95%;
        img {
            width: 0.8rem;
            margin: 5px;
            vertical-align: middle;
        }
        span {
            line-height: 0.301rem;
        }
    }
}


/*亮点*/

.light-points {
    padding: 0 40px;
    .title {
        font-size: 0.15rem;
        color: #262626;
        clear: both;
        padding-left: 0.1rem;
        text-align: center;
        line-height: 0.2rem;
        img {
            width: 0.15rem;
            height: 0.15rem;
            vertical-align: middle;
        }
    }
    ul.mainlp {
        padding: 0 0.07rem;
        background: url(../img/details/product-bg2.png) no-repeat;
        background-size: 100% 100%;
        li {
            color: #262626;
            line-height: 0.3rem;
            font-size: 0.14rem;
            border-bottom: 1px solid #f5f5f5;
        }
        li:first-child {
            padding-top: 0.1rem;
        }
    }
}


/*详情区*/

.graphic-details {
    margin-top: 20px;
    margin-bottom: 100px;
    border: 10px solid #F5F5F5;
    width: 80%;
    padding: 0 40px;
    .top-title {
        text-align: center;
        width: 100%;
        font-size: 0.15rem;
        color: #262626;
        clear: both;
        position: relative;
        margin: 0 auto;
        line-height: 0.225rem;
    }
    .detail-item {
        color: #262626;
        padding: 0.1rem 0;
        line-height: 0.2rem;
        font-size: 0.125rem;
        border-top: 1px solid #f5f5f5;
    }
}


/*分享*/

.share-menu {
    position: fixed;
    z-index: 30;
    display: none;
    background-color: #fff;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    p {
        display: block;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        text-align: center;
    }
    ul {
        width: 100%;
        height: auto;
        display: flex;
        li {
            width: 25%;
            height: auto;
            overflow: hidden;
            float: left;
            text-align: center;
            margin: 5px 0;
            .wechat {
                background: url(../img/details/share-weixin.png) no-repeat;
                background-size: 100% 100%;
            }
            .weibo {
                background: url(../img/details/share-weibo.png) no-repeat;
                background-size: 100% 100%;
            }
            .qq {
                background: url(../img/details/share-qq.png) no-repeat;
                background-size: 100% 100%;
            }
            .qqzone {
                background: url(../img/details/share-qqzone.png) no-repeat;
                background-size: 100% 100%;
            }
            p {
                width: 0.265rem;
                height: 0.265rem;
                margin: 0 auto 0.05rem;
            }
            span {
                font-size: 0.085rem;
                color: #4B4B4B;
                line-height: 0.135rem;
            }
            .share-btn {
                width: 100%;
                height: auto;
                overflow: hidden;
                text-align: center;
                box-sizing: border-box;
                padding: 0 10px;
            }
        }
    }
}

// 底部加入购物车
#toCart {
    z-index: 10;
    text-align: center;
    position: fixed;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 0.28rem;
    line-height: 0.28rem;
    background-color: #fff;
    font-size: 0.18rem;
    span {
        display: block;
    }
    span.icon {
        width: 15%;
        background-color: #fff;
        display: block;
        margin: 0px auto;
        background: url(../img/public/footer/car.png) no-repeat center;
        background-size: .25rem .25rem;
    }
    span.addTocar {
        width: 83%;
        color: #fff;
        background-color: #ff4891;
    }
    span.wares_num {
        position: absolute;
        top: 0px;
        left: 71px;
        color: #fff;
        background-color: #ff4891;
        width: 25px;
        height: 25px;
        line-height: 25px;
        font-size: 17px;
        border-radius: 50%;
        // display: block;
        display: none;
    }
}


/*  <!-- 黑色区块 -->*/

.cover {
    display: none;
    position: fixed;
    background-color: black;
    opacity: 0.5;
    top: 0;
    width: 100%;
    height: 50000px;
    z-index: 20;
}