@import 'common';
html {
    font-size: 200px;
}

img {
    width: 100%;
}

.content {
    width: 100%;
    margin: 0.05rem auto;
    padding: 0.05rem;
    text-align: center;
    .input {
        width: 80%;
        margin: 0.05rem auto;
        padding: 0.025rem;
        border-bottom: 1px solid #dfdffd;
        position: relative;
        .item {
            width: 100%;
            input {
                width: 100%;
                font-size: 0.2rem;
            }
            .code-btn {
                position: absolute;
                right: 0.1rem;
                top: 0.01rem;
                padding: 0.075rem 0.05rem;
                line-height: 0;
                display: block;
                background: #ff2e89;
                width: 1.0rem;
                height: 0.25rem;
                font-size: 0.12rem;
                color: #fff;
                border-style: none;
                outline: 0;
                border-radius: 2px;
                text-align: center;
            }
        }
    }
}

.receive-btn {
    width: 2.65rem;
    height: 0.315rem;
    margin-top: 0.25rem;
    text-align: center;
    padding: 0;
    line-height: 0;
    display: inline-block;
    background: url(../img/code-btn.jpg) center no-repeat;
    background-size: 100%;
    border-style: none;
    outline: 0;
}

p.goShop {
    font-size: 0.16rem;
    text-align: center;
    margin-top: 0.15rem;
    a {
        color: #959595;
        text-decoration: underline;
        font-size: 100%;
    }
}
