* {
  font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #F3F3F3 !important;
}
.topbar {
  position: relative;
  height: 50px;
  z-index: 1030;
}
.topbar .navbar {
  border-radius: 0;
  
}
aside {
  position: absolute;
  top: 0;
  padding-top: 50px;
  left: 0;
  width: 230px;
  min-height: 100%;
  z-index: 880;
  background-color: #2E363F;
  overflow: hidden;
}
aside .vnav {
  width: 230px;
}
.main {
  padding-left: 230px;
  height: 100%;
  position: relative;
  width: 100%;
}
.box {
  background-color: white;
  border: 1px solid #DDDDDD;
  padding: 20px;
   overflow: hidden;
}

.main .addwindow{
  width: 320px;
  position: absolute;
  top: 60px;
  left:700px;
  background-color: #fff;
  padding: 20px;
  display: none;
  z-index: 100;
}
.main .addwindow label{
  display: block;;
  margin-top: 10px;
}
.main .addwindow label input{
  width:200px;
  display: block;
  float: right;
}
.main .addwindow button{
  display: inline-block;
}
.main .addwindow .addok{
  margin-left: 100px;
}
.main .addwindow .addcancel{
  margin-left: 20px;
}

.taul{
  height: 25px;
margin-left: -40px;
}
.taul li{
  float: left;
  list-style: none;
  margin-right: 40px;
  margin-top: 5px;
}
.taul li:nth-child(4){
margin-left: 190px;
}
.taul li:nth-child(5){
margin-left: -30px;
}
.taul li:nth-child(6){
margin-left: -30px;
margin-right: 60px;
}
.boxgoodslist tr th{
 display: inline-block;
 width: 200px;
}

.boxgoodslist tbody{
  display: block;
  height: 440px;
  overflow-y: auto;
}