@charset "UTF-8";
body, html, h1, h2, h3, h4, p, ul, ol, li, img { padding: 0; margin: 0; list-style: none; }

body, html { width: 100%; height: 100%; margin: 0 auto; }

* { box-sizing: border-box; }

main::-webkit-scrollbar { width: 0; height: 0; }

.container { width: 100%; height: 100%; display: flex; background: #F0F0F0; flex-direction: column; padding: 0; margin: 0; }

/* header */
#list { background: #FFF9E5; opacity: 0.9; }

#list p { height: 0.53125rem; font-size: 0.1875rem; padding: 0 0.375rem 0 0.234375rem; line-height: 0.53125rem; }

#list p .pink { background: #ff4891; color: #fff; border-radius: 3px; }

/* main */
main { padding-top: 2px; display: flex; flex-direction: column; overflow-x: hidden; overflow-y: auto; padding-bottom: 50px; }

main .main_top { height: 38px; background: #fff; text-align: center; line-height: 38px; }

main .main_top i { display: inline-block; width: 18px; height: 18px; background: url("../img/cart_img/position-icon.png") no-repeat; background-size: 100% 100%; vertical-align: middle; }

main .main_top span { padding-left: 5px; font-size: 14px; }

main .checkbox_all { flex-direction: column; margin-top: 8px; background: #fff; }

main .checkbox_all > span { display: inline-block; width: 40px; height: 38px; padding: 4px 8px 0 10px; vertical-align: middle; }

main .checkbox_all > span span { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; }

main .checkbox_all > span i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; }

main .checkbox_all b { font-weight: 100; }

main .main_list { flex: 1; flex-direction: column; margin-top: 1px; background: #fff; }

main .main_list .product-style { display: flex; height: 101px; border-bottom: 1px solid #F0F0F0; }

main .main_list .product-style .list_checkbox { width: 22px; height: 100%; margin: 0 8px 0 10px; }

main .main_list .product-style .list_checkbox { width: 22px; height: 100%; margin: 0 8px 0 10px; position: relative; }

main .main_list .product-style .list_checkbox span { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; position: absolute; top: 50%; margin-top: -12px; }

main .main_list .product-style .list_checkbox span i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; }

main .main_list .product-style a { display: flex; color: #000; }

main .main_list .product-style a:hover { text-decoration: none; }

main .main_list .product-style a .list_img { width: 75px; height: 81px; margin: 10px 6px 10px 0; }

main .main_list .product-style a .list_img img { width: 75px; height: 75px; margin-top: 6px; }

main .main_list .product-style a .list_introduce { width: 197px; height: 101px; padding-top: 10px; }

main .main_list .product-style a .list_introduce ul li { font-size: 14px; position: relative; }

main .main_list .product-style a .list_introduce ul .lis_title { width: 175px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

main .main_list .product-style a .list_introduce ul .lis_one { width: 52px; height: 14px; line-height: 14px; margin-top: 3px; font-size: 10px; border: 1px solid #ff4891; color: #ff4891; }

main .main_list .product-style a .list_introduce ul .lis_two { font-size: 12px; color: #a7a7a7; height: 16px; line-height: 16px; margin-top: 4px; }

main .main_list .product-style a .list_introduce ul .lis_three { font-size: 12px; color: #ff4891; }

main .main_list .product-style a .list_introduce ul .lis_three > span { font-size: 15px; }

main .main_list .product-style a .list_introduce ul .lis_three div { position: absolute; right: 4px; top: 0; }

main .main_list .product-style a .list_introduce ul .lis_three div > span { text-align: center; display: inline-block; width: 25px; height: 22px; line-height: 20px; vertical-align: middle; font-size: 16px; font-family: '微软雅黑'; font-weight: 100; }

main .main_list .product-style a .list_introduce ul .lis_three div span { color: #000; }

main .main_list .product-style a .list_introduce ul .lis_three div img { display: inline-block; width: 22px; height: 22px; }

main .main_p p { height: 36px; color: #969696; line-height: 36px; padding: 0 15px; font-size: 12px; }

main .main_hint { background: #fff; }

main .main_hint ul { display: flex; flex-direction: column; height: 89px; padding: 0 15px; }

main .main_hint ul li { flex: 1; line-height: 44px; position: relative; }

main .main_hint ul li span { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; position: absolute; top: 50%; right: 0; margin-top: -12px; }

main .main_hint ul li span i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; position: absolute; }

main .main_clearing { margin-top: 8px; background: #fff; }

main .main_clearing > div { height: 75px; padding: 10px 15px 0; border-bottom: 1px solid #ddd; }

main .main_clearing .rebate { height: 40px; }

main .main_clearing .rebate p { position: relative; }

main .main_clearing .rebate p span { position: absolute; right: 0; }

main .main_clearing .coupon .coupon_top p { width: 203px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #969696; }

main .main_clearing .coupon .coupon_bottom { padding-top: 10px; }

main .main_clearing .coupon .coupon_bottom p { font-size: 14px; position: relative; }

main .main_clearing .coupon .coupon_bottom p img { width: 16px; height: 16px; margin-top: -3px; margin-right: 5px; }

main .main_clearing .coupon .coupon_bottom p span { position: absolute; right: 0; color: #ff4891; }

main .main_clearing .net .net_bottom { padding-top: 14px; }

main .main_clearing .net p { position: relative; }

main .main_clearing .net p span { position: absolute; right: 0; }

main .main_clearing .total { height: 44px; text-align: right; background: #fff; font-size: 14px; }

main .main_clearing .total span { color: #ff4891; font-size: 12px; }

main .ending { color: #b8b8b8; height: 50px; line-height: 50px; text-align: center; padding-bottom: 10px; text-decoration: underline; }

footer .clearing { height: 50px; background: #fff; }

footer .clearing > div { font-size: 14px; }

footer .clearing > div div { display: inline-block; }

footer .clearing > div .btnCkeck { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; position: relative; margin-left: 10px; vertical-align: middle; }

footer .clearing > div .btnCkeck i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; position: absolute; }

footer .clearing > div .whole { width: 42px; padding-right: 10px; vertical-align: middle; }

footer .clearing > div .footDiv { width: 110px; height: 50px; vertical-align: middle; padding-top: 10px; }

footer .clearing > div .footDiv p { font-size: 12px; }

footer .clearing > div .to-settle-accounts { width: 130px; height: 50px; background: #ff4891; position: absolute; right: 0; color: #fff; font-size: 18px; }

footer .clearing > div .to-settle-accounts span { vertical-align: middle; line-height: 50px; margin-left: 30px; }

footer .clearing > div .to-settle-accounts b { font-size: 8px; }

footer .footer { display: flex; height: 49px; padding-top: 2px; background: #fff; }

footer .footer ul { flex: 1; display: flex; }

footer .footer ul li { flex: 1; }
