@charset "UTF-8";
::before, ::after { /* 清除默认的间距和边距*/ padding: 0; margin: 0; /*去除移动端特有的点击高亮效果*/ -webkit-tap-highlight-color: transparent; /*设置所有的盒子都以边框开始计算宽度*/ -webkit-box-sizing: border-box; box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

ul, li { list-style: none; }

a { text-decoration: none; color: #333; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑', sans-serif; color: #555; font-size: 14px; }

.wrap { /*width: 80%;*/ min-width: 1000px; width: 1200px; margin: 0 auto; }

input { border: none; /*获取焦点时的外边框*/ outline: none; /*清除移动端默认的表单样式:-webkit-appearance是用来改变按钮和其他控件的外观，使其外观类似于原生控件.
通常我们可以在相应的元素上加上-webkit-appearance: none;来移除原生控件样式。*/ /*-webkit-appearance: none;*/ }

.clear { zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

.clearfix::before, .clearfix::after { display: block; height: 0; clear: both; content: ""; height: 0; line-height: 0; display: block; clear: both; visibility: hidden; }

input { /*border: none;*/ /*获取焦点时的外边框*/ outline: none; /*清除移动端默认的表单样式:-webkit-appearance是用来改变按钮和其他控件的外观，使其外观类似于原生控件.
通常我们可以在相应的元素上加上-webkit-appearance: none;来移除原生控件样式。*/ /*-webkit-appearance: none;*/ }

.container { width: 100%; height: 100%; display: flex; background: #F0F0F0; flex-direction: column; padding: 0; margin: 0; }

/* header */
#list { background: #FFF9E5; opacity: 0.9; }

#list p { height: 34px; font-size: 12px; padding: 0 24px 0 15px; line-height: 34px; }

#list p .pink { background: #ff4891; color: #fff; border-radius: 3px; }

/* main */
main { padding-top: 2px; display: flex; flex-direction: column; overflow-x: hidden; overflow-y: auto; padding-bottom: 50px; }

main .main_top { height: 0.59375rem; background: #fff; text-align: center; line-height: 0.59375rem; }

main .main_top i { display: inline-block; width: 0.28125rem; height: 0.28125rem; margin-top: -0.0625rem; background: url("../img/cart_img/position-icon.png") no-repeat; background-size: 100% 100%; vertical-align: middle; }

main .main_top span { padding-left: 0.078125rem; font-size: 0.21875rem; }

main .checkbox_all { flex-direction: column; margin-top: 0.125rem; background: #fff; }

main .checkbox_all > span { display: inline-block; width: 40px; height: 38px; padding: 4px 8px 0 10px; vertical-align: middle; }

main .checkbox_all > span span { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; }

main .checkbox_all > span i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; }

main .checkbox_all b { font-weight: 100; }

main .main_list { flex: 1; flex-direction: column; margin-top: 1px; background: #fff; }

main .main_list .product-style { display: flex; height: 101px; border-bottom: 1px solid #F0F0F0; }

main .main_list .product-style .list_checkbox { width: 22px; height: 100%; margin: 0 8px 0 10px; }

main .main_list .product-style .list_checkbox { width: 22px; height: 100%; margin: 0 8px 0 10px; position: relative; }

main .main_list .product-style .list_checkbox span { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; position: absolute; top: 50%; margin-top: -12px; }

main .main_list .product-style .list_checkbox span i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; }

main .main_list .product-style a { display: flex; flex: 1; color: #000; }

main .main_list .product-style a:hover { text-decoration: none; }

main .main_list .product-style a .list_img { width: 75px; height: 81px; margin: 10px 6px 10px 0; }

main .main_list .product-style a .list_img img { width: 75px; height: 75px; margin-top: 6px; }

main .main_list .product-style a .list_introduce { padding-top: 10px; flex: 1; }

main .main_list .product-style a .list_introduce ul li { font-size: 14px; position: relative; }

main .main_list .product-style a .list_introduce ul .lis_title { width: 175px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }

main .main_list .product-style a .list_introduce ul .lis_one { width: 52px; height: 14px; line-height: 14px; margin-top: 3px; font-size: 10px; border: 1px solid #ff4891; color: #ff4891; }

main .main_list .product-style a .list_introduce ul .lis_two { font-size: 12px; color: #a7a7a7; height: 16px; line-height: 16px; margin-top: 4px; }

main .main_list .product-style a .list_introduce ul .lis_three { font-size: 12px; color: #ff4891; }

main .main_list .product-style a .list_introduce ul .lis_three > span { font-size: 15px; }

main .main_list .product-style a .list_introduce ul .lis_three div { position: absolute; right: 4px; top: 0; }

main .main_list .product-style a .list_introduce ul .lis_three div > span { text-align: center; display: inline-block; width: 25px; height: 22px; line-height: 20px; vertical-align: middle; font-size: 16px; font-family: '微软雅黑'; font-weight: 100; }

main .main_list .product-style a .list_introduce ul .lis_three div span { color: #000; }

main .main_list .product-style a .list_introduce ul .lis_three div img { display: inline-block; width: 22px; height: 22px; }

main .main_p p { height: 36px; color: #969696; line-height: 36px; padding: 0 15px; font-size: 12px; }

main .main_hint { background: #fff; }

main .main_hint ul { display: flex; flex-direction: column; height: 89px; padding: 0 15px; }

main .main_hint ul li { flex: 1; line-height: 44px; position: relative; }

main .main_hint ul li span { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; position: absolute; top: 50%; right: 0; margin-top: -12px; }

main .main_hint ul li span i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; position: absolute; }

main .main_clearing { margin-top: 8px; background: #fff; }

main .main_clearing > div { height: 75px; padding: 10px 15px 0; border-bottom: 1px solid #ddd; }

main .main_clearing .rebate { height: 40px; }

main .main_clearing .rebate p { position: relative; }

main .main_clearing .rebate p span { position: absolute; right: 0; }

main .main_clearing .coupon .coupon_top p { width: 203px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #969696; }

main .main_clearing .coupon .coupon_bottom { padding-top: 10px; }

main .main_clearing .coupon .coupon_bottom p { font-size: 14px; position: relative; }

main .main_clearing .coupon .coupon_bottom p img { width: 16px; height: 16px; margin-top: -3px; margin-right: 5px; }

main .main_clearing .coupon .coupon_bottom p span { position: absolute; right: 0; color: #ff4891; }

main .main_clearing .net .net_bottom { padding-top: 14px; }

main .main_clearing .net p { position: relative; }

main .main_clearing .net p span { position: absolute; right: 0; }

main .main_clearing .total { height: 44px; text-align: right; background: #fff; font-size: 14px; }

main .main_clearing .total span { color: #ff4891; font-size: 12px; }

main .ending { color: #b8b8b8; height: 50px; line-height: 50px; text-align: center; padding-bottom: 10px; text-decoration: underline; }

main::-webkit-scrollbar { width: 0; height: 0; }

footer .clearing { height: 50px; background: #fff; }

footer .clearing > div { font-size: 14px; }

footer .clearing > div div { display: inline-block; }

footer .clearing > div .btnCkeck { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; position: relative; margin-left: 10px; vertical-align: middle; }

footer .clearing > div .btnCkeck i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; position: absolute; }

footer .clearing > div .whole { width: 42px; padding-right: 10px; vertical-align: middle; }

footer .clearing > div .footDiv { width: 110px; height: 50px; vertical-align: middle; padding-top: 10px; }

footer .clearing > div .footDiv p { font-size: 12px; }

footer .clearing > div .footDiv p span { color: #ff4891; }

footer .clearing > div .footDiv .clearing_p { color: #969696; }

footer .clearing > div .to-settle-accounts { width: 130px; height: 50px; background: #ff4891; position: absolute; right: 0; color: #fff; font-size: 18px; }

footer .clearing > div .to-settle-accounts span { vertical-align: middle; line-height: 50px; margin-left: 30px; }

footer .clearing > div .to-settle-accounts i { display: inline-block; width: 7px; height: 10px; background: url("../img/cart_img/youjiantou.png") no-repeat; position: absolute; background-size: 100% 100%; top: 40%; margin-left: 4px; }

footer .footer { display: flex; height: 49px; padding-top: 2px; background: #fff; margin-top: 2px; }

footer .footer ul { flex: 1; display: flex; }

footer .footer ul li { flex: 1; }

#clearing_bottom { display: flex; flex-direction: column; width: 100%; height: 100%; position: absolute; top: 9.375rem; display: none; background: #F0F0F0; }

#clearing_bottom .confirmation { height: 44px; padding: 5px; background: #fff; text-align: center; font-size: 17px; line-height: 34px; position: relative; color: #4b4b4b; border-bottom: 1px solid #ccc; box-shadow: 0 0 10px rgba(0, 0, 0, 0.06); }

#clearing_bottom .confirmation i { display: inline-block; width: 36px; height: 34px; background: url("../img/cart_img/login-back.png") center left no-repeat; background-size: 20px; position: absolute; left: 10px; }

#clearing_bottom .clearing_main::-webkit-scrollbar { width: 0; height: 0; }

#clearing_bottom .clearing_main { flex: 1; display: flex; flex-direction: column; overflow-x: hidden; overflow-y: auto; }

#clearing_bottom .clearing_main .delivery { padding-left: 15px; height: 30px; background: #fff9e2; line-height: 30px; font-size: 12px; }

#clearing_bottom .clearing_main .address { background: #5e7996; height: 70px; line-height: 70px; text-align: center; color: #fff; position: relative; font-size: 12px; }

#clearing_bottom .clearing_main .address::before { width: 14px; height: 22px; content: ""; background: url("../img/cart_img/dingwei.png") no-repeat; background-size: 100% 100%; position: absolute; top: 24px; left: 16px; }

#clearing_bottom .clearing_main .send_flex { flex: 1; }

#clearing_bottom .clearing_main .send_flex .send { display: flex; height: 44px; background: #fff; line-height: 44px; padding: 0 15px; margin-top: 8px; }

#clearing_bottom .clearing_main .send_flex .send .send_left { width: 33%; display: flex; }

#clearing_bottom .clearing_main .send_flex .send .send_left span { font-size: 14px; }

#clearing_bottom .clearing_main .send_flex .send .send_left span b { display: inline-block; width: 4px; height: 14px; background: #ff4891; vertical-align: middle; margin-right: 4px; margin-top: -2px; }

#clearing_bottom .clearing_main .send_flex .send .send_right { width: 77%; text-align: right; font-size: 14px; color: #969696; flex: 1; line-height: 22px; position: relative; }

#clearing_bottom .clearing_main .send_flex .send .send_right span { display: block; height: 22px; padding-right: 20px; }

#clearing_bottom .clearing_main .send_flex .send .send_right .span1 { color: #FF4891; }

#clearing_bottom .clearing_main .send_flex .send .send_right b { display: inline-block; position: absolute; right: 0; top: 50%; margin-top: -5px; content: ''; width: 6px; height: 11px; background: url("../img/cart_img/goes_03.png") no-repeat; background-size: 100% 100%; }

#clearing_bottom .clearing_main .send_flex .product_list { height: 77px; background: #fff; display: flex; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list { margin: 0 15px; border-top: 1px solid #E6E6E6; flex: 1; display: flex; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list .pro_lis_left { width: 70%; flex: 1; padding: 18px 0; overflow: auto; white-space: nowrap; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list .pro_lis_left .img_item { display: inline-block; width: 41px; height: 41px; padding: 3px; margin-right: 8px; background: #FFF; border-radius: 4px; position: relative; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list .pro_lis_left .img_item img { width: 35px; height: 35px; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list .pro_lis_left::-webkit-scrollbar { width: 0; height: 0; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list .pro_lis_right { padding-left: 14px; display: flex; line-height: 77px; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list .pro_lis_right span { font-size: 12px; }

#clearing_bottom .clearing_main .send_flex .product_list .pro_list .pro_lis_right span b { display: inline-block; content: ''; width: 6px; height: 11px; margin-left: 12px; background: url("../img/cart_img/goes_03.png") no-repeat; background-size: 100% 100%; }

#clearing_bottom .clearing_main .preferential_Way { height: 38px; color: #969696; font-size: 12px; padding: 0 15px; line-height: 38px; }

#clearing_bottom .clearing_main .main_hint { background: #fff; }

#clearing_bottom .clearing_main .main_hint ul { display: flex; flex-direction: column; height: 89px; padding: 0 15px; }

#clearing_bottom .clearing_main .main_hint ul li { flex: 1; line-height: 44px; position: relative; }

#clearing_bottom .clearing_main .main_hint ul li span { display: inline-block; width: 24px; height: 24px; border: 1px solid #d1d1d1; border-radius: 50%; position: absolute; top: 50%; right: 0; margin-top: -12px; }

#clearing_bottom .clearing_main .main_hint ul li span i { display: inline-block; width: 22px; height: 22px; background: url("../img/cart_img/checked.png") no-repeat; background-size: 22px 22px; position: absolute; }

#clearing_bottom .clearing_main .main_clearing { margin-top: 8px; background: #fff; }

#clearing_bottom .clearing_main .main_clearing > div { height: 75px; padding: 10px 15px 0; border-bottom: 1px solid #ddd; }

#clearing_bottom .clearing_main .main_clearing .rebate { height: 40px; }

#clearing_bottom .clearing_main .main_clearing .rebate p { position: relative; }

#clearing_bottom .clearing_main .main_clearing .rebate p span { position: absolute; right: 0; }

#clearing_bottom .clearing_main .main_clearing .coupon .coupon_top p { width: 203px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; color: #969696; }

#clearing_bottom .clearing_main .main_clearing .coupon .coupon_bottom p { font-size: 14px; position: relative; }

#clearing_bottom .clearing_main .main_clearing .coupon .coupon_bottom p img { width: 16px; height: 16px; margin-top: -3px; margin-right: 5px; }

#clearing_bottom .clearing_main .main_clearing .coupon .coupon_bottom p span { position: absolute; right: 0; color: #ff4891; }

#clearing_bottom .clearing_main .main_clearing .coupon .red_packet { padding-top: 12px; }

#clearing_bottom .clearing_main .main_clearing .coupon .red_packet p { font-size: 14px; position: relative; }

#clearing_bottom .clearing_main .main_clearing .coupon .red_packet p img { width: 16px; height: 16px; margin-top: -3px; margin-right: 5px; }

#clearing_bottom .clearing_main .main_clearing .coupon .red_packet p span { position: absolute; right: 0; color: #c6c6c6; padding-right: 18px; }

#clearing_bottom .clearing_main .main_clearing .coupon .red_packet p b { display: inline-block; position: absolute; right: 0; top: 50%; margin-top: -5px; content: ''; width: 6px; height: 11px; background: url("../img/cart_img/goes_03.png") no-repeat; background-size: 100% 100%; }

#clearing_bottom .clearing_main .main_clearing .net .net_bottom { padding-top: 14px; }

#clearing_bottom .clearing_main .main_clearing .net p { position: relative; }

#clearing_bottom .clearing_main .main_clearing .net p span { position: absolute; right: 0; }

#clearing_bottom .clearing_main .main_clearing .total { height: 44px; text-align: right; background: #fff; font-size: 18px; }

#clearing_bottom .clearing_main .main_clearing .total span { color: #ff4891; }

#clearing_bottom .clearing_main .privilege { padding: 0 15px; text-align: right; font-size: 12px; color: #969696; line-height: 30px; }

#clearing_bottom .clearing_main .privilege img { width: 13px; margin-left: 4px; }

#clearing_bottom .clearing_main .stored_value { display: flex; padding: 8px 15px; height: 56px; background: #fff; border-bottom: 1px solid #ddd; }

#clearing_bottom .clearing_main .stored_value ul { flex: 1; display: flex; flex-direction: column; }

#clearing_bottom .clearing_main .stored_value ul li { flex: 1; }

#clearing_bottom .clearing_main .stored_value ul .stored_lis { font-size: 12px; color: #ff4891; }

#clearing_bottom .clearing_main .stored_value .stored_value_r span { font-size: 14px; }

#clearing_bottom .clearing_main .stored_value .stored_value_r span b { display: inline-block; content: ''; width: 6px; height: 11px; margin-left: 5px; vertical-align: baseline; background: url("../img/cart_img/goes_03.png") no-repeat; background-size: 100% 100%; }

#clearing_bottom .clearing_main .need { height: 36px; padding: 8px 15px; line-height: 20px; background: #fff; border-bottom: 1px solid #ddd; }

#clearing_bottom .clearing_main .need p { font-size: 14px; position: relative; }

#clearing_bottom .clearing_main .need p span { position: absolute; right: 0; }

#clearing_bottom .clearing_main .payment { height: 136px; padding: 28px 0; display: flex; background: #fff; }

#clearing_bottom .clearing_main .payment ul { flex: 1; display: flex; text-align: center; }

#clearing_bottom .clearing_main .payment ul li { flex: 1; }

#clearing_bottom .clearing_main .payment ul li i { display: inline-block; width: 52px; height: 52px; border-radius: 50%; position: relative; }

#clearing_bottom .clearing_main .payment ul li i b { position: absolute; right: -4px; top: -4px; z-index: 10; }

#clearing_bottom .clearing_main .payment ul li span { display: block; }

#clearing_bottom .clearing_main .payment ul .weixin_b { background: url("../img/cart_img/weixin_03_active.png") #44be00; background-size: 100% 100%; }

#clearing_bottom .clearing_main .payment ul .weixin_b b { color: #44be00; }

#clearing_bottom .clearing_main .payment ul .weixin_n { background: url("../img/cart_img/weixin_03.png") #fff; background-size: 100% 100%; border: 1px solid #44be00; }

#clearing_bottom .clearing_main .payment ul .weixin_n b { display: none; }

#clearing_bottom .clearing_main .payment ul .zhifubao_b { background: url("../img/cart_img/zhifub_03.png") #fff; background-size: 100% 100%; border: 1px solid #039dff; }

#clearing_bottom .clearing_main .payment ul .zhifubao_b b { color: #039dff; display: none; }

#clearing_bottom .clearing_main .payment ul .zhifubao_n { background: url("../img/cart_img/zhifub_03_active.png") #039dff; background-size: 100% 100%; border: 1px solid #039dff; }

.to_pay_for { border-top: 1px solid #e6e6e6; }

.to_pay_for > div { height: 46px; background: #fff; position: relative; }

.to_pay_for .to_pay_for_left > span { font-size: 17px; color: #262626; line-height: 46px; margin-left: 15px; font-weight: 500; }

.to_pay_for .to_pay_for_left > span .span_two { color: #ff4891; }

.to_pay_for .to_pay_for_left > span .span_three { color: #969696; font-size: 12px; }

.to_pay_for .to_pay_for_right { width: 102px; height: 46px; padding: 0 33px 0 18px; background: #ff4891; text-align: center; font-size: 17px; color: #fff; position: absolute; right: 0; top: 0; line-height: 46px; }

.to_pay_for .to_pay_for_right i { display: inline-block; width: 7px; height: 10px; background: url("../img/cart_img/youjiantou.png") no-repeat; position: absolute; background-size: 100% 100%; top: 40%; margin-left: 4px; }

#productList { display: flex; flex-direction: column; width: 100%; height: 100%; position: absolute; top: 9.375rem; display: none; background: #F0F0F0; }

#productList .proLis_top { height: 44px; padding: 5px; text-align: center; position: relative; line-height: 34px; background: #fff; }

#productList .proLis_top span { display: inline-block; width: 18px; height: 18px; position: absolute; margin: auto 15px; left: 0; }

#productList .proLis_top span img { width: 18px; height: 18px; }

#productList .proLis_main { flex: 1; display: flex; background: #fff; margin-top: 10px; overflow-x: hidden; overflow-y: auto; }

#productList .proLis_main .list_cate::-webkit-scrollbar { width: 0; height: 0; }

#productList .proLis_main .list_cate { flex: 1; display: flex; overflow-x: hidden; overflow-y: auto; }

#productList .proLis_main .list_cate > ul { flex: 1; }

#productList .proLis_main .list_cate > ul > li { display: flex; height: 89px; border-top: 1px solid #e6e6e6; }

#productList .proLis_main .list_cate > ul > li .pro_li_left { padding: 8px 10px 9px 15px; }

#productList .proLis_main .list_cate > ul > li .pro_li_left img { width: 70px; height: 70px; border: 1px solid #e6e6e6; border-radius: 4px; }

#productList .proLis_main .list_cate > ul > li .pro_li_right { flex: 1; display: flex; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul { flex: 1; display: flex; flex-direction: column; padding-top: 6px; position: relative; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul li { flex: 1; position: relative; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_1 { font-size: 14px; color: #262626; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_1 p { width: 70%; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_1 p span { position: absolute; right: 10px; top: 0; font-size: 14px; color: #969696; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_2 { padding: 0 4px; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_2 span { display: inline-block; width: 50px; height: 16px; font-size: 8px; background: url("../img/cart_img/two-hour.png") no-repeat; background-size: 100% 100%; color: #fff; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_3 { position: absolute; bottom: 0; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_3 span { font-size: 12px; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_3 .span1 { text-decoration: line-through; color: #969696; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_3 .span1 b { font-weight: 100; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_3 .span2 { color: #ff4891; }

#productList .proLis_main .list_cate > ul > li .pro_li_right ul .list_3 .span2 b { font-weight: 100; }
