.footer { margin-top: 5px; display: flex; font-size: 12px; }

.footer .a_foot { height: 100%; }

.footer .icon { display: block; margin: 0px auto; background: url(../img/public/footer/icon.png) no-repeat; width: 23px; height: 25px; background-size: auto 23px !important; vertical-align: middle; }

.footer .mine { background-position: 0 0; }

.footer .redpac { background-position: -23px 0; }

.footer .car { background-position: -46px 0; }

.footer .home { background-position: -69px 0; }

.footer li { width: 25%; text-align: center; }

.footer li a { width: 100%; }

.footer .act { color: #ff4891; }
