@charset "UTF-8";
::before, ::after { /* 清除默认的间距和边距*/ padding: 0; margin: 0; /*去除移动端特有的点击高亮效果*/ -webkit-tap-highlight-color: transparent; /*设置所有的盒子都以边框开始计算宽度*/ -webkit-box-sizing: border-box; box-sizing: border-box; }

body, html { height: 100%; }

body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

ul, li { list-style: none; }

a { text-decoration: none; color: #333; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑', sans-serif; color: #555; font-size: 14px; }

.wrap { /*width: 80%;*/ min-width: 1000px; width: 1200px; margin: 0 auto; }

input { border: none; /*获取焦点时的外边框*/ outline: none; /*清除移动端默认的表单样式:-webkit-appearance是用来改变按钮和其他控件的外观，使其外观类似于原生控件.
通常我们可以在相应的元素上加上-webkit-appearance: none;来移除原生控件样式。*/ /*-webkit-appearance: none;*/ }

.clear { zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

.clearfix::before, .clearfix::after { display: block; height: 0; clear: both; content: ""; height: 0; line-height: 0; display: block; clear: both; visibility: hidden; }

#container { display: flex; height: 100%; flex-direction: column; font-size: 14px; }

#container .header { height: 1.28125rem; font-size: 14px; background: #000; }

#container .main { overflow-x: hidden; overflow-y: auto; flex: 1; }

#container .main .content_box { padding-top: 10px; }

#container .main .content_box .banner .banner_img { width: 100%; display: block; height: 1.265625rem; }

#container .main .content_box .wares_news { display: flex; border-bottom: 1px solid #f7f7f7; }

#container .main .content_box .wares_news .w_n_img_box { margin: 10px 15px; height: 90px; }

#container .main .content_box .wares_news .w_n_img_box .w_n_img { width: 90px; height: 90px; display: inline-block; }

#container .main .content_box .wares_news .w_n_text { flex: 1; position: relative; padding-top: 0.0935rem; }

#container .main .content_box .wares_news .w_n_text .text_p1, #container .main .content_box .wares_news .w_n_text .text_p2 { font-size: 14px; }

#container .main .content_box .wares_news .w_n_text .text_p2 { color: #969696; }

#container .main .content_box .wares_news .w_n_text .text_tips .tips_span { color: #ff4891; display: inline-block; border: 0.015625rem solid; font-size: 9px; border-radius: 0.03125rem; border-color: #ff4891; }

#container .main .content_box .wares_news .w_n_text .text_prices { margin-top: 0.0625rem; color: #ffc38d; }

#container .main .content_box .wares_news .w_n_text .text_prices .t_p_num { font-size: 14px; }

#container .main .content_box .wares_news .w_n_text .text_prices, #container .main .content_box .wares_news .w_n_text .text_vip_prices { font-size: 12px; }

#container .main .content_box .wares_news .w_n_text .text_vip_prices { color: #ff4891; }

#container .main .content_box .wares_news .w_n_text .text_vip_prices .t_v_p_num { vertical-align: sub; font-size: 20px; display: inline-block; }

#container .main .content_box .wares_news .w_n_text .shop_car_box { position: absolute; bottom: 8px; right: 10px; }

#container .main .content_box .wares_news .w_n_text .shop_car_box .s_car { width: 49px; height: 49px; display: block; position: absolute; bottom: -8px; right: -10px; }

#container .footer { height: 0.765625rem; background: skyblue; }
