@charset "UTF-8";
::before, ::after { /* 清除默认的间距和边距*/ padding: 0; margin: 0; /*去除移动端特有的点击高亮效果*/ -webkit-tap-highlight-color: transparent; /*设置所有的盒子都以边框开始计算宽度*/ -webkit-box-sizing: border-box; box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, dl, dd, ul, ol, pre, form, input, textarea, th, td, select { margin: 0; padding: 0; }

em { font-style: normal; }

ul, li { list-style: none; }

a { text-decoration: none; color: #333; }

img { border: none; }

table { border-collapse: collapse; }

textarea { resize: none; overflow: hidden; }

body { font-family: '微软雅黑', sans-serif; color: #555; font-size: 14px; }

.wrap { /*width: 80%;*/ min-width: 1000px; width: 1200px; margin: 0 auto; }

input { border: none; /*获取焦点时的外边框*/ outline: none; /*清除移动端默认的表单样式:-webkit-appearance是用来改变按钮和其他控件的外观，使其外观类似于原生控件.
通常我们可以在相应的元素上加上-webkit-appearance: none;来移除原生控件样式。*/ /*-webkit-appearance: none;*/ }

.clear { zoom: 1; }

.clear:after { content: ''; display: block; clear: both; }

.clearfix::before, .clearfix::after { display: block; height: 0; clear: both; content: ""; height: 0; line-height: 0; display: block; clear: both; visibility: hidden; }

input { /*border: none;*/ /*获取焦点时的外边框*/ outline: none; /*清除移动端默认的表单样式:-webkit-appearance是用来改变按钮和其他控件的外观，使其外观类似于原生控件.
通常我们可以在相应的元素上加上-webkit-appearance: none;来移除原生控件样式。*/ /*-webkit-appearance: none;*/ }

<<<<<<< HEAD
<<<<<<< HEAD
html { font-size: 200px; }

img { width: 100%; }

.content { width: 100%; margin: 0.05rem auto; padding: 0.05rem; text-align: center; }

.content .input { width: 80%; margin: 0.05rem auto; padding: 0.025rem; border-bottom: 1px solid #dfdffd; position: relative; }

.content .input .item { width: 100%; }

.content .input .item input { width: 100%; font-size: 0.2rem; }

.content .input .item .code-btn { position: absolute; right: 0.1rem; top: 0.01rem; padding: 0.075rem 0.05rem; line-height: 0; display: block; background: #ff2e89; width: 1.0rem; height: 0.25rem; font-size: 0.12rem; color: #fff; border-style: none; outline: 0; border-radius: 2px; text-align: center; }

.receive-btn { width: 2.65rem; height: 0.315rem; margin-top: 0.25rem; text-align: center; padding: 0; line-height: 0; display: inline-block; background: url(../img/code-btn.jpg) center no-repeat; background-size: 100%; border-style: none; outline: 0; }

p.goShop { font-size: 0.16rem; text-align: center; margin-top: 0.15rem; }
=======
img { width: 100%; }
=======
html { font-size: 200px; }
>>>>>>> ly

img { width: 100%; }

.content { width: 100%; margin: 0.05rem auto; padding: 0.05rem; text-align: center; }

.content .input { width: 80%; margin: 0.05rem auto; padding: 0.025rem; border-bottom: 1px solid #dfdffd; position: relative; }

.content .input .item { width: 100%; }

.content .input .item input { width: 100%; font-size: 0.2rem; }

.content .input .item .code-btn { position: absolute; right: 0.1rem; top: 0.01rem; padding: 0.075rem 0.05rem; line-height: 0; display: block; background: #ff2e89; width: 1.0rem; height: 0.25rem; font-size: 0.12rem; color: #fff; border-style: none; outline: 0; border-radius: 2px; text-align: center; }

.receive-btn { width: 2.65rem; height: 0.315rem; margin-top: 0.25rem; text-align: center; padding: 0; line-height: 0; display: inline-block; background: url(../img/code-btn.jpg) center no-repeat; background-size: 100%; border-style: none; outline: 0; }

<<<<<<< HEAD
p.goShop { font-size: .28rem; text-align: center; margin-top: .4rem; }
>>>>>>> 334896f0b39c6d7509943ab7b1d0ca89729cf0a2
=======
p.goShop { font-size: 0.16rem; text-align: center; margin-top: 0.15rem; }
>>>>>>> ly

p.goShop a { color: #959595; text-decoration: underline; font-size: 100%; }
